@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
}

/* -------------------------
    TYPOGRAPHY
----------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
h1 {
  font-size: 40px;
  font-weight: 200;
  line-height: 50px;
}
h2 {
  font-size: 30px;
  line-height: 40px;
  margin-top: 0;
}
h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
}
h4 {
  color: #505050;
  font-size: 18px;
  line-height: 28px;
}
p {
  color: #757575;
  font-size: 16px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0.5px;
}
a {
  text-decoration: none;
}
/* -------------------------
    GENERAL
----------------------------*/

#about,
#articles,
#group,
#contact,
footer {
  background-color: #fff;
}

/* -------------------------
    MENU
----------------------------*/

.navbar .navbar-brand {
  font-weight: normal;
  font-size: 25px;
  color: #ffffff;
}
.navbar .navbar-nav .nav-link {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 0;
  text-transform: uppercase;
  transition: all-ease-in 0.4s;
  color: #ffffff;
}
.navbar .navbar-nav .nav-link:hover {
  background: transparent;
  color: #ffffff;
}
.navbar .navbar-nav .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: transparent;
  transition: width 0.3s ease, background-color 0.3s ease;
  color: #fff;
}
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: #fff;
}

/* -------------------------
    HOME
----------------------------*/

#home {
  display: flex;
  text-align: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
#home img {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  transform: translateX(-50%) translateY(-50%);
  object-fit: cover;
  box-sizing: border-box;
  overflow: hidden;
  z-index: -100;
  transition: 1s opacity;
}
#home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
#home h1 {
  color: #fff;
  font-size: 8vw;
  line-height: 1.2em;
}
#home p {
  color: rgb(250, 250, 250 0.7);
}
#home .home-text {
  z-index: 99;
}

/* -------------------------
    ABOUT
----------------------------*/

#about {
  position: relative;
}
#about h3 {
  font-size: 14px;
  letter-spacing: 12px;
  text-transform: uppercase;
}

/* -------------------------
    PROJECT
----------------------------*/

#articles .article-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}
#articles .article-item .project-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all ease-in-out 0.4s;
}
#articles .article-item .project-overlay:hover {
  opacity: 1;
}
#articles .article-item .project-overlay .project-info {
  padding: 12em 0;
}
.project-info h1 {
  color: #fff;
  margin: 0;
}
.project-info h3 {
  color: #d9d9d9;
  margin-top: 0;
  font-size: 14px;
  letter-spacing: 0.2px;
}
.article-item img {
  transition: all ease-in-out 0.4s;
}
.article-item:hover img {
  transform: scale(1.1);
}

/* -------------------------
    GROUP
----------------------------*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide .Text h3 {
  color: black;
  font-weight: 100;
}
.swiper-slide .Text h3 span {
  color: black;
  font-weight: 500;
}
